[redis]
host=localhost
port=6379
db=0
channel=GPSSensorsData

[db_daemon]
workers=10

[server]
port=9980

[postgresql_db]
host=127.0.0.1
port=5432
user=gps_teltonika
password=gps_teltonika
database=gps_teltonika_server